<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dobit.rplife">

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/rplifelogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".InitializationActivity" />
        <activity android:name=".CharacterCreationActivity" />
        <activity android:name=".DialogElima" />
        <activity android:name=".FocusActivity" />
        <activity android:name=".ProfileActvity" />
        <activity android:name=".Home.AddTask" />
        <activity android:name=".Home.BebasEditText" />
        <activity android:name=".Home.BebasTextView" />
        <activity android:name=".Home.MainActivity" />
        <activity android:name=".Home.ReplicaMain"></activity>
    </application>

</manifest>